.icons {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-facebook-1 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-finger-1 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-instagram-2 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-linkedin-1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-twitter-1 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-Client-1 {
  width: 59px;
  height: 32px;
  background-position: -240px 0;
}
.icon-Client-2 {
  width: 59px;
  height: 32px;
  background-position: -336px 0;
}
.icon-Client-3 {
  width: 59px;
  height: 32px;
  background-position: -432px 0;
}
.icon-Client-4 {
  width: 59px;
  height: 32px;
  background-position: -528px 0;
}
.icon-Client-5 {
  width: 59px;
  height: 32px;
  background-position: -624px 0;
}
.icon-Client-6 {
  width: 59px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-envelope {
  width: 43px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-Group-1 {
  width: 72px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-Group-2 {
  width: 72px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-Group-3 {
  width: 72px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-Group-4 {
  width: 72px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -576px -48px;
}